html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  background-image: linear-gradient(0deg, plum, white, plum, white);
  background-size: 100% 300%;
  animation-name: mybg;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes mybg {
  0%   {background-position: 0 100%;}
  100% {background-position: 0 0;}
}

.cloud {
  width: 20px;
  height: 100px;
  background: purple;
  animation-name: cloud-animation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cloud-r {
  width: 20px;
  height: 100px;
  background: purple;
  animation-name: cloud-animation-r;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

#cloud-2 {
  animation-delay: 0.2s;
}

#cloud-3 {
  animation-delay: 0.4s;
}

@keyframes cloud-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
      opacity: 1;
      transform : translateY(400px);
  }
}

@keyframes cloud-animation-r {
  from {
    opacity: 0;
    transform: translateY(400px);
  }

  to {
      opacity: 1;
      transform : translateY(-400px);
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}
